.contact-box {
	max-width: 50ch;
}

.contact-heading {
	margin-bottom: 2rem;
}

.contact-heading p {
	line-height: 2;
}

.contact-hello {
	display: flex;
	flex-direction: column;
}
.contact-hello .all_links {
	display: flex;
	gap: 1rem;
}

.contact-hello p {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	margin-bottom: 1rem;
}

.contact-hello svg {
	font-size: 1.5rem;
}

.hello-links {
	color: var(--nav-blue-shade);
	margin: 0.5rem 0;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

.hello-links:hover {
	color: var(--nav-blue);
}

/* Media Queries */
@media screen and (max-width: 900px) {

}

@media screen and (max-width: 550px) {
	.contact-heading p,
	.contact-hello p,
	.hello-links,
	input,
	textarea {
		font-size: 80%;
		
	}
	

}
